<%- include('partials/header') %>
<h1>This is the show page.</h1>

<p><%=campground.name%></p>

<img src="<%=campground.image%>" class="img-thumbnail" style="border: none; height:400px;">

<p><%=campground.desc%></p>

<%- include('partials/footer') %>